---
layout: base
---

<div class="security-page grid-wrapper">
    <div class="grid__item width-12-12">
        <h1>Governance</h1>
    </div>
    <div class="grid__item width-12-12 sec-title-red">
        <h2>Stewardship</h2>
        <p>This project is developed and released by Red Hat with assistance from the Java developer community. The project lead is appointed by Red Hat, and has the power to accept and reject contributions to the project and set the roadmap. Red Hat employees assigned to work on WildFly as well as community contributors, in this regard, all answer to the project lead.
        </p>
    </div>
    <div class="grid__item width-12-12 sec-title-teal">
        <h2>Requirement Definition</h2>
        <p>The requirements and roadmap for WildFly are driven by Red Hat and by the community. Typically, when a major release is being planned, the project lead will take input from both Red Hat and the community, and evaluate what can be done in the necessary time. This will define what features will be addressed in a given release. The project lead will then publish the roadmap on the developers mailing list, and update the version information in JIRA. WildFly releases are usually largely time-boxed, so any indication that a given feature or fix will appear in a particular release is only an estimate, subject to change at any time.</p>

<p>WildFly is the basis for the commercial (yet open source) Red Hat JBoss Enterprise Application Platform product, so many requirements for WildFly come from its users. However, all requirements are fed into the same community process that our community users follow. We create JIRAs for all feature requests on our schedule.</p>

<p>If you are interested in EAP you can download it for free on the JBoss.ORG website.</p>

<p>The best way for you to suggest requirements for a future release of WildFly is to enter a feature request in JIRA. Lobbying for features using the voting feature in JIRA, and posting to the community forums, is a great way to express interest as well. Although, contributing is the single most expedient way to get a capability into a particular release.</p>
    </div>
    <div class="grid__item width-12-12 sec-title-yellow">
        <h2>Release Cycle</h2>
		<h3>Feature Releases</h3>
        <p>
			WildFly releases frequently, and is aiming to deliver new final versions containing new features in an approximately three month cycle. Typically a release containing new features will have a new major version number. Occasionally the project will release a minor version instead of a major. We also deliver one feature-complete Beta release per major, typically two weeks before the final release, and provide a nightly build for those that wish to be on the bleeding edge. The WildFly Core project, which provides the kernel of WildFly, also produces a major release in a three month cycle that is closely aligned to the WildFly cycle. WildFly Core will typically produce milestone releases every two to three weeks, with WildFly consuming those releases in its master branch very shortly after release.
        </p>
		<p>The cadence of feature releases is subject to change any time, particularly when critical functionality cannot be delivered in a typical three month release window or be delivered incrementally across several such windows. The project lead will notify the WildFly community of any such change via the http://https://groups.google.com/g/wildfly[WildFly user forum], the http://[wildfly-dev mailing list] and via http://wildfly.org/news[a news post on this site].</p>
		<p>At least annually the project lead will publish a projected release roadmap for the following year. In addition, as soon as practical following a major or minor release, the project lead will publish a proposed schedule for the next major or minor release.</p>
        <h3>Bug Fix Releases</h3>
        <p>
            For each major or minor release, WildFly will release a single bug fix micro-version release based on that major or minor. This micro version release will usually be available about a month after the major or minor it is based upon.
        </p>
        <p>
            Beyond that single bug fix release, WildFly typically will not release additional bug fix releases based on a particular major or minor. Users are encouraged to move to the next major or minor release in order to consume bug fixes. Occasionally the project may elect to produce more than one bug fix release, but due to the effort involved in doing so this will not be the norm and should never be expected absent an explicit communication from the project lead that such a release is forthcoming. Factors that may drive a decision to do an additional bug fix release include but are not limited to the following, with none of these definitively meaning such a release will (or will not) occur:
			<ul>
				<li>A critical bug in the previous micro, particularly a security flaw.</li>
				<li>Expected difficulty for users to migrate their applications or server configuration to the latest feature release.</li>
				<li>How long it has been since the previous micro was released.</li>
				<li>How long it is expected to be until the next feature release that will contain the fixes that would appear in the micro.</li>
				<li>Resources available to produce the release.</li>
			</ul>
        </p>
    </div>
    <div class="grid__item width-12-12 sec-title-red">
        <h2>Contribution</h2>
        <p>WildFly welcomes, thrives on and greatly values community contribution. Please see our "http://wildfly.org/contribute/[Contribute]" page for more information on how to contribute to WildFly.
        </p>
    </div>
</div>
